<a href="https://colab.research.google.com/github/alramosp/Alg2_alramosp/blob/main/Lab%201/alramosp_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [263]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [264]:
my_string1 = 'Bienvenido'
my_string2 = "Alejandro Ramos"
print(my_string1 + ' ' + my_string2)

Bienvenido Alejandro Ramos

An integer is a round number with no values after the decimal point.

In [265]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [266]:
my_int = 2001
print(my_int)
print(type(my_int))

2001
<class 'int'>

The built-in function int() can convert a string into an integer.

In [267]:
my_string = "100"
print(type(my_string))
my_int = int(my_string) #function int() can convert a string into an integer.
print(type(my_int))

<class 'str'>
<class 'int'>

In [268]:
mi_cadena = "5642"
print(type(mi_cadena))
miNuevo_int = int(mi_cadena)
print(type(miNuevo_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [269]:
my_string = "100"
my_float = float(my_string) #function float() can convert a string into an integer.
print(type(my_float))

<class 'float'>

In [270]:
my_string = "230"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [271]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [272]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [273]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [274]:
print("Addition ", 8+1)
print("Subtraction ", 24-5)
print("Multiplication ", 8*3)
print("Division ", 12/3)
print('exponent', 4**3)

Addition  9
Subtraction  19
Multiplication  24
Division  4.0
exponent 64

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [275]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [276]:
print(3/4)
print(3.0/4)

0.75
0.75

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [277]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [278]:
mi_lista = ['Alejandro', 'Ramos', 6,22,78,108]
print(mi_lista)

['Alejandro', 'Ramos', 6, 22, 78, 108]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [279]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))#With function len() you can obtain the length of a list 
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [280]:
mi_lista = ['Alejandro', 'Ramos', 6,22,78,108]
print(len(mi_lista))
print(mi_lista[1])
print(mi_lista[len(mi_lista) -2])

6
Ramos
78

You can also change the elements in the list by accessing an index and assigning a new value.

In [281]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [282]:
mi_lista = ['Alejandro', 'Ramos', 6,22,78,108]
mi_lista [3] = "Pérez"
print(mi_lista)

['Alejandro', 'Ramos', 6, 'Pérez', 78, 108]

A list can also be sliced with a colon:

In [283]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [284]:
mi_lista = ['Alejandro', 'Ramos', 6,22,78,108]
print(mi_lista[2:5])

[6, 22, 78]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [285]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [286]:
print(mi_lista[2:])

[6, 22, 78, 108]

And all elements up to but excluding index 3:

In [287]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [288]:
print(mi_lista[:5])

['Alejandro', 'Ramos', 6, 22, 78]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [289]:
my_list = ['Hello', 'Quant']
my_list.append('Hello') #You can use the append() and remove() to add or remove an element from a list
print(my_list)

['Hello', 'Quant', 'Hello']

In [290]:
mi_lista = ['Alejandro', 'Ramos']
mi_lista.append('Pérez')
print(mi_lista)

['Alejandro', 'Ramos', 'Pérez']

In [291]:
my_list.remove('Hello') #You can use the append() and remove() to add or remove an element from a list
print(my_list)

['Quant', 'Hello']

In [292]:
mi_lista.remove('Ramos')
print(mi_lista)

['Alejandro', 'Pérez']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [293]:
my_tuple = ('Welcome','to','QuantConnect')

In [294]:
mi_tupla =('Bienvenido','Alejandro','Ramos','Pérez')

Just like a list, a tuple can be sliced by using index.

In [295]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [296]:
mi_tupla =('Bienvenido','Alejandro','Ramos','Pérez')
print(mi_tupla[1:])

('Alejandro', 'Ramos', 'Pérez')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [297]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list) # The function set() can be used to create sets.
print(stock_set)

{'F', 'FB', 'GOOG', 'AAPL', 'IBM'}

In [298]:
stock_lista = ['li','lo','lu','li','le','le']
stock_listaSet = set(stock_lista)
print(stock_listaSet)

{'li', 'lu', 'le', 'lo'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [299]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [300]:
mi_dic ={'CR':'Carro','DS':'Disco','CN':'Cancion'}

In [301]:
print(my_dic['GOOG'])

Alphabet

In [302]:
print(mi_dic['DS'])

Disco

After defining a dictionary, we can access any value by indicating its key in brackets.

In [303]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [304]:
mi_dic['DS'] = 'Discoteca'
print(mi_dic['DS'])

Discoteca

We can also change the value associated with a specified key:

In [305]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [306]:
print(mi_dic.keys())

dict_keys(['CR', 'DS', 'CN'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [307]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [308]:
my_str = 'Bienvenido Alejandro Ramos'
print(my_str[10:])

 Alejandro Ramos

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [309]:
print('Counting the number of e appears in this sentence'.count('e'))#string.count() is used to count the occurrences of a character in a string
print('The first time e appears in this sentence'.find('e')) #string.find() is used to return the index of a specific character
print('all the a in this sentence now becomes e'.replace('a','e'))#string.replace() is used to replace characters

7
2
ell the e in this sentence now becomes e

In [310]:
print('Este año no volvemos a la universidad'.count('a'))
print('la virtualidad cansa'.find('u'))
print('la presencialidad hace falta'.replace('e','a'))

4
7
la prasancialidad haca falta

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [311]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0] #string.split() is used to split the string by the indicated character and return a list
print(hour)

2016-04-01 09:43:00
09

In [312]:
Time = '2021-10-19 13:14:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-19 13:14:00
13

We can replace parts of a string by our variable. This is called string formatting.

In [313]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [314]:
my_time = 'Hour: {}, Minute:{}'.format('13','14')
print(my_time)

Hour: 13, Minute:14

Another way to format a string is to use the % symbol.

In [315]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [316]:
print('el año actual es %i'%2021)
print('Estamos en %s , dia %s'%('Octubre','Catorce'))

el año actual es 2021
Estamos en Octubre , dia Catorce

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [317]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [318]:
print(25 == 25)
print(12 == 1)
print(0 != 0)
print(85 >= 80)
print(41 >= 41)

True
False
False
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [319]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [320]:
print(32 > 20 and 1 > 2)
print(10 > 8 and 3 < 5) 
print(16 > 40 or 5 < 2)
print(0 < 1 or 3 < 2)

False
True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [321]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [322]:
print((20 > 8 or 54 < 14) and not (9==45 and 4>3) and ( 0 < 35 or 7 < 3 and (5!=5 and 85>29)))
print(0 > 5 and 65 < 80 and not (3==3 and 17>3) and not ( 1 < 7 or 1 < 0 and (12 < 22 and 24>23)))

True
False

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [323]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [324]:
i = 25
if i !=0:
    print('i==0 is False')

i==0 is False

As we mentioned above, we can write some complex statements here:

In [325]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [326]:
p = 14 > 15
q = 24 > 1
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [327]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [328]:
j = 15
while j > 5:
    print(j)
    j -= 1

15
14
13
12
11
10
9
8
7
6

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [329]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [330]:
for j in [233,'ca',3,14,'Ramos']:
    print(j)

233
ca
3
14
Ramos

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [331]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [332]:
stocks = ['CA','MI','O','NE','TA','R', 'X']
selected = ['O','X']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['CA', 'MI', 'O', 'NE', 'TA', 'R', 'X']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [333]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [334]:
stocks = ['CA','MI','O','NE','TA','R', 'X']
for i in stocks:
    print(i)
    if i == 'R':
        break

CA
MI
O
NE
TA
R

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [335]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [336]:
stocks = ['CA','MI','O','NE','TA','R', 'X']
for i in stocks:
    if i == 'NE':
        continue
    print(i)

CA
MI
O
TA
R
X

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [337]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [338]:
squares = []
for i in [4,2,4,2,4]:
    squares.append(i**3)
print(squares)

[64, 8, 64, 8, 64]

Using list comprehension:

In [339]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [340]:
list = [4,2,4,2,4]
squares = [x**2 for x in list]
print(squares)

[16, 4, 16, 4, 16]

In [341]:
list = [1,2,3,4,5]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [342]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [343]:
stocks = ['CA','MI','O','NE','TA','R', 'X']
selected = ['NE','TA','R']
new_list = [x for x in stocks if x in selected]
print(new_list)

['NE', 'TA', 'R']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [344]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [345]:
print([(x, y) for x in [4,7,1,5] for y in [5,8,2,1] if x != y])
print([str(x)+' vs '+str(y) for x in ['CA','MI','O','NE'] for y in ['TA','R', 'X'] if x!=y])

[(4, 5), (4, 8), (4, 2), (4, 1), (7, 5), (7, 8), (7, 2), (7, 1), (1, 5), (1, 8), (1, 2), (5, 8), (5, 2), (5, 1)]
['CA vs TA', 'CA vs R', 'CA vs X', 'MI vs TA', 'MI vs R', 'MI vs X', 'O vs TA', 'O vs R', 'O vs X', 'NE vs TA', 'NE vs R', 'NE vs X']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [346]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [347]:
def product(i,j):
    return i*j
print(product(5,3))
print(product(7,2))

15
14

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [348]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [349]:
def entrega():
  print('Se realizo la entrega del trabajo con exito')
entrega()

Se realizo la entrega del trabajo con exito

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [350]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [351]:
print(range(5))
print(range(1,12))
print(range(1,12,3))

range(0, 5)
range(1, 12)
range(1, 12, 3)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [352]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))# Range() is used to create a for loop
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [353]:
tickers = ['CA','MI','O','NE','TA','R', 'X']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 7
CA
MI
O
NE
TA
R
X

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [354]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [355]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) #map() is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

[4, 4, 3, 2, 1, 1, 1, 2]

In [356]:
tickers = ['CA','MIO','NE','TASS','RAPIDAS', 'X']
list(map(len,tickers))

[2, 3, 2, 4, 7, 1]

In [357]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [358]:
tickers = ['CA','MIO','NE','TASS','RAPIDAS', 'X']
print(list(map(len,tickers)))

[2, 3, 2, 4, 7, 1]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [359]:
list(map(lambda x: x**2, range(10)))#Lambda: Create functions

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [360]:
list(map(lambda x: x**3, range(5)))

[0, 1, 8, 27, 64]

map() can be applied to more than one list. The lists have to have the same length.

In [361]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [362]:
list(map(lambda x, y: x+y, [4,2,4,2,4],[1,3,1,3,2]))

[5, 5, 5, 5, 6]

**sorted()** takes a list or set and returns a new sorted list

In [363]:
sorted([5,2,3,4,1]) #sorted() takes a list or set and returns a new sorted list

[1, 2, 3, 4, 5]

In [364]:
sorted([20,17,18,12,2])

[2, 12, 17, 18, 20]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [365]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [366]:
price_list = [('O',100.09),('MI',85.71),('CA',25),('TA',150),('NE',135.32)]
sorted(price_list, key = lambda x: x[1])

[('CA', 25), ('MI', 85.71), ('O', 100.09), ('NE', 135.32), ('TA', 150)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [367]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [368]:
price_list = [('O',100.09),('MI',85.71),('CA',25),('TA',150),('NE',135.32)]
sorted(price_list, key = lambda x: x[1],reverse = True )

[('TA', 150), ('NE', 135.32), ('O', 100.09), ('MI', 85.71), ('CA', 25)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [369]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])#list.sort() This function takes the same "key" and "reverse" arguments as sorted()
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [370]:
price_list = [('O',100.09),('MI',85.71),('CA',25),('TA',150),('NE',135.32)]
sorted(price_list, key = lambda x: x[1])

[('CA', 25), ('MI', 85.71), ('O', 100.09), ('NE', 135.32), ('TA', 150)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [371]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close): #update(): we updated the open and close prices of a stock
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self): # Is to specify them as self
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [372]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [373]:
apple = stock('AAPL', 85.3, 185.96, 8552)
google = stock('GOOG', 452, 123.52, 2840)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

**Se aplico la la siguiente instruccion con los datos que se dieron de ejemplo.**

In [374]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

-0.7267256637168142
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [375]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [376]:
apple.ceo = 'Alejandro Trabaja'
apple.ceo

'Alejandro Trabaja'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [377]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [378]:
dir(google)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [379]:
class child(stock): #A "child" class is a more specific type of a "parent" class
    def __init__(self,name):
        self.name = name

**Se aplico la la siguiente instruccion con los datos que se dieron de ejemplo.**

In [380]:
aa = child('aa')
print(aa.name)
aa.update(1,35) 
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
1
35
34.0
None

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [381]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [382]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [383]:
precio_lista = [260.52, 263.12, 264.69, 265.22, 266.35, 267.12]
precio_array = np.array(precio_lista)
print(precio_array, type(precio_array))

[260.52 263.12 264.69 265.22 266.35 267.12] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [384]:
Ar = np.array([[1,3],[2,4]])#np.array() is used to create a 2-dimensional array.
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [385]:
Arr = np.array([[8,5],[5,1]])
print(Arr, type(Arr))

[[8 5]
 [5 1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [386]:
print(Ar.shape)

(2, 2)

In [387]:
print(Arr.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [388]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [389]:
print(Arr[0])
print(Arr[1])

[8 5]
[5 1]

If we want to access the matrix by column instead:

In [390]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [391]:
print('the first column: ', Arr[:,0])
print('the second column: ', Arr[:,1])

the first column:  [8 5]
the second column:  [5 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [392]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [393]:
print(np.log(precio_array))

[5.56267963 5.5726102  5.57855933 5.58055967 5.58481123 5.587698  ]

Other functions return a single value:

In [394]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [395]:
print(np.mean(precio_array))
print(np.std(precio_array))
print(np.sum(precio_array))
print(np.max(precio_array))

264.50333333333333
2.182740377496967
1587.02
267.12

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [396]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [397]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #pd.Series(data) is to create Series
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [398]:
precio = [260.52, 263.12, 264.69, 265.22, 266.35, 267.12]
ss = pd.Series(precio)
ss

0    260.52
1    263.12
2    264.69
3    265.22
4    266.35
5    267.12
dtype: float64

We can customize the indices of a new Series:

In [399]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [400]:
ss = pd.Series(precio,index = ['a','b','c','d','e','f'])
ss

a    260.52
b    263.12
c    264.69
d    265.22
e    266.35
f    267.12
dtype: float64

Or we can change the indices of an existing Series:

In [401]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [402]:
ss.index = [6,5,4,3,2,1]
ss

6    260.52
5    263.12
4    264.69
3    265.22
2    266.35
1    267.12
dtype: float64

Series is like a list since it can be sliced by index:

In [403]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [404]:
print(ss[1:])
print(ss[:-2])

5    263.12
4    264.69
3    265.22
2    266.35
1    267.12
dtype: float64
6    260.52
5    263.12
4    264.69
3    265.22
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [405]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [406]:
print(ss[4])
ss[4] = 0
print(ss)

264.69
6    260.52
5    263.12
4      0.00
3    265.22
2    266.35
1    267.12
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [407]:
s = pd.Series(price, name = 'Precio Manzana List')
print(s)
print(s.name) #name(Attribute)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Precio Manzana List, dtype: float64
Precio Manzana List

In [408]:
ss = pd.Series(precio, name = 'Precio Manzana List')
print(ss)
print(ss.name)

0    260.52
1    263.12
2    264.69
3    265.22
4    266.35
5    267.12
Name: Precio Manzana List, dtype: float64
Precio Manzana List

We can get the statistical summaries of a Series:

In [409]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Precio Manzana List, dtype: float64

In [410]:
print(ss.describe())

count      6.000000
mean     264.503333
std        2.391072
min      260.520000
25%      263.512500
50%      264.955000
75%      266.067500
max      267.120000
Name: Precio Manzana List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [411]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')#pd.date_range() is used to create a new index for our Series
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Precio Manzana List, dtype: float64

In [412]:
time_index = pd.date_range('2017-01-01',periods = len(ss),freq = 'D')
print(time_index)
ss.index = time_index
print(ss)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    260.52
2017-01-02    263.12
2017-01-03    264.69
2017-01-04    265.22
2017-01-05    266.35
2017-01-06    267.12
Freq: D, Name: Precio Manzana List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [413]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Precio Manzana List, dtype: float64
142.62

In [414]:
s.index = [6,5,4,3,2,1]
print(ss)
print(ss[1])

2017-01-01    260.52
2017-01-02    263.12
2017-01-03    264.69
2017-01-04    265.22
2017-01-05    266.35
2017-01-06    267.12
Freq: D, Name: Precio Manzana List, dtype: float64
263.12

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [415]:
print(s.iloc[1]) #iloc[] is used to access elements by integer index

145.83

In [416]:
print(ss.iloc[1])

263.12

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [417]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [418]:
ss.index = time_index
print(ss['2017-01-03'])

264.69

We can even access to a range of dates:

In [419]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Precio Manzana List, dtype: float64

In [420]:
print(ss['2017-01-02':'2017-01-05'])

2017-01-02    263.12
2017-01-03    264.69
2017-01-04    265.22
2017-01-05    266.35
Freq: D, Name: Precio Manzana List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [421]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Precio Manzana List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Precio Manzana List, dtype: bool]

In [422]:
print(ss[ss < np.mean(ss)] )
print([(ss > np.mean(ss)) & (ss < np.mean(ss) + 1.64*np.std(ss))])

2017-01-01    260.52
2017-01-02    263.12
Freq: D, Name: Precio Manzana List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04     True
2017-01-05     True
2017-01-06     True
Freq: D, Name: Precio Manzana List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [423]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.9 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=15d01019d9053a04ebb19cbf52b55a924554d91c6ed11845ece8af74239b68f8
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [424]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.32867, 'profitMargins': 0.25882, 'grossMargins': 0.41779, 'operatingCashflow': 104037998592, 'revenueGrowth': 0.288, 'operatingMargins': 0.29782, 'ebitda': 120233000960, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 73295003648, 'targetMedianPrice': 170, 'currentPrice': 149.8, 'earningsGrowth': 0.662, 'currentRatio': 1.075, 'returnOnAssets': 0.20179, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 216.392, 'returnOnEquity': 1.47443, 'targetHighPrice': 190, 'totalCash': 62639001600, 'totalDebt': 136521998336, 'totalRevenue': 365817004032, 'totalCashPerShare': 3.818, 'financialCurrency': 'USD', 'revenuePerShare': 21.904, 'quickRatio': 0.91, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.92, 'beta3Year': None, 'enterpriseToEbitda': 21.055, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 5.98, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.841, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.58625, 'netIncomeToCommon': 94679998464, 'trailingEps': 5.61, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 39.00026, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16389498411, 'beta': 1.222222, 'enterpriseValue': 2531561308160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 6.769024, 'dateShortInterest': 1634256000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 25.050167, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 152.57, 'regularMarketOpen': 147.215, 'twoHundredDayAverage': 140.12863, 'trailingAnnualDividendYield': 0.005571213, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.935, 'navPrice': None, 'averageDailyVolume10Day': 75246133, 'regularMarketPreviousClose': 152.57, 'fiftyDayAverage': 145.59914, 'trailingAnnualDividendRate': 0.85, 'open': 147.215, 'toCurrency': None, 'averageVolume10days': 75246133, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.4128, 'currency': 'USD', 'trailingPE': 26.702316, 'regularMarketVolume': 124953168, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2476224020480, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75359889, 'dayLow': 146.4128, 'ask': 149.93, 'askSize': 1100, 'volume': 124953168, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.22, 'fiftyTwoWeekLow': 107.32, 'bid': 149.92, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1100, 'dayHigh': 149.935, 'regularMarketPrice': 149.8, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749160  23.083435  22.230457  ...  324377600        0.0             0
2016-01-08  22.719193  22.848292  22.306536  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831621  40.848381  40.520331  ...  103999600        0.0             0

[503 rows x 7 columns]

In [425]:
import yfinance as yf

pfizer = yf.Ticker("PFE")

# get stock info
print(pfizer.info)

# get historical market data
pfizer_table = pfizer.history(start="2016-01-01",  end="2017-12-31")
pfizer_table

{'zip': '10017', 'sector': 'Healthcare', 'fullTimeEmployees': 78500, 'longBusinessSummary': 'Pfizer Inc. discovers, develops, manufactures, markets, distributes, and sells biopharmaceutical products worldwide. It offers medicines and vaccines in various therapeutic areas, including cardiovascular metabolic and pain under the Eliquis, Chantix/Champix, and Premarin family brands; biologics, small molecules, immunotherapies, and biosimilars under the Ibrance, Xtandi, Sutent, Inlyta, Retacrit, Lorbrena, and Braftovi brands; and sterile injectable and anti-infective medicines under the Sulperazon, Medrol, Zithromax, Vfend, and Panzyga brands. The company also provides medicines and vaccines in various therapeutic areas, such as pneumococcal disease, meningococcal disease, tick-borne encephalitis, and COVID-19 under the Prevnar 13/Prevenar 13 (pediatric/adult), Nimenrix, FSME/IMMUN-TicoVac, Trumenba, and the Pfizer-BioNTech COVID-19 vaccine brands; biosimilars for chronic immune and inflammatory diseases under the Xeljanz, Enbrel, Inflectra, and Eucrisa/Staquis brands; and amyloidosis, hemophilia, and endocrine diseases under the Vyndaqel/Vyndamax, BeneFIX, and Genotropin brands. In addition, the company is involved in the contract manufacturing business. It serves wholesalers, retailers, hospitals, clinics, government agencies, pharmacies, and individual provider offices, as well as disease control and prevention centers. The company has collaboration agreements with Bristol-Myers Squibb Company; Astellas Pharma US, Inc.; Myovant Sciences Ltd.; Akcea Therapeutics, Inc; Merck KGaA; Valneva SE; BioNTech SE; Arvinas, Inc.; and Syapse, Inc. Pfizer Inc. was founded in 1849 and is headquartered in New York, New York.', 'city': 'New York', 'phone': '212 733 2323', 'state': 'NY', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.pfizer.com', 'maxAge': 1, 'address1': '235 East 42nd Street', 'industry': 'Drug Manufacturers—General', 'ebitdaMargins': 0.36270002, 'profitMargins': 0.23798999, 'grossMargins': 0.7112, 'operatingCashflow': 23552000000, 'revenueGrowth': 0.924, 'operatingMargins': 0.2732, 'ebitda': 20137000960, 'targetLowPrice': None, 'recommendationKey': 'none', 'grossProfits': 33334000000, 'freeCashflow': 31606624256, 'targetMedianPrice': None, 'currentPrice': 43.74, 'earningsGrowth': 0.59, 'currentRatio': 1.369, 'returnOnAssets': 0.0545, 'numberOfAnalystOpinions': None, 'targetMeanPrice': None, 'debtToEquity': 55.809, 'returnOnEquity': 0.18354, 'targetHighPrice': None, 'totalCash': 21702000640, 'totalDebt': 39241998336, 'totalRevenue': 55520002048, 'totalCashPerShare': 3.871, 'financialCurrency': 'USD', 'revenuePerShare': 9.958, 'quickRatio': 1.011, 'recommendationMean': None, 'exchange': 'NYQ', 'shortName': 'Pfizer, Inc.', 'longName': 'Pfizer Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'PFE', 'messageBoardId': 'finmb_162270', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 4.738, 'beta3Year': None, 'enterpriseToEbitda': 13.063, '52WeekChange': 0.27248025, 'morningStarRiskRating': None, 'forwardEps': 32.87, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 5606689792, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 12.51, 'sharesShort': 54477410, 'sharesPercentSharesOut': 0.0097, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.67500997, 'netIncomeToCommon': 12323999744, 'trailingEps': 2.342, 'lastDividendValue': 0.39, 'SandP52WeekChange': 0.39125264, 'priceToBook': 3.496403, 'heldPercentInsiders': 0.00039, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625356800, 'shortRatio': 2.21, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 5601025601, 'beta': 0.693121, 'enterpriseValue': 263049543680, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1605571200, 'lastSplitFactor': '1054:1000', 'legalType': None, 'lastDividendDate': 1627516800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.594, 'priceToSalesTrailing12Months': 4.4170856, 'dateShortInterest': 1634256000, 'pegRatio': 0.01, 'ytdReturn': None, 'forwardPE': 1.3306968, 'lastCapGain': None, 'shortPercentOfFloat': 0.0097, 'sharesShortPriorMonth': 54093535, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 43.18, 'regularMarketOpen': 43.09, 'twoHundredDayAverage': 42.07885, 'trailingAnnualDividendYield': 0.03566466, 'payoutRatio': 0.7064, 'volume24Hr': None, 'regularMarketDayHigh': 43.83, 'navPrice': None, 'averageDailyVolume10Day': 23391500, 'regularMarketPreviousClose': 43.18, 'fiftyDayAverage': 43.084858, 'trailingAnnualDividendRate': 1.54, 'open': 43.09, 'toCurrency': None, 'averageVolume10days': 23391500, 'expireDate': None, 'algorithm': None, 'dividendRate': 1.56, 'exDividendDate': 1635984000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 42.855, 'currency': 'USD', 'trailingPE': 18.676346, 'regularMarketVolume': 30307485, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 245236613120, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 31618450, 'dayLow': 42.855, 'ask': 43.8, 'askSize': 1100, 'volume': 30307485, 'fiftyTwoWeekHigh': 51.86, 'fromCurrency': None, 'fiveYearAvgDividendYield': 3.7, 'fiftyTwoWeekLow': 33.36, 'bid': 43.77, 'tradeable': False, 'dividendYield': 0.0357, 'bidSize': 4000, 'dayHigh': 43.83, 'regularMarketPrice': 43.74, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/pfizer.com'}

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  24.324911  24.462384  24.111067  ...  39322421        0.0             0
2016-01-05  24.576942  24.622767  24.386010  ...  28777994        0.0             0
2016-01-06  24.233264  24.363100  23.996508  ...  27242316        0.0             0
2016-01-07  23.797935  24.294362  23.782661  ...  39223134        0.0             0
2016-01-08  24.095791  24.156890  23.614639  ...  34840286        0.0             0
...               ...        ...        ...  ...       ...        ...           ...
2017-12-22  29.879168  29.969785  29.697933  ...   9063557        0.0             0
2017-12-26  29.730883  29.879169  29.615551  ...  11480590        0.0             0
2017-12-27  29.912116  30.035686  29.846213  ...   8768964        0.0             0
2017-12-28  29.953305  30.093349  29.862685  ...   6939431        0.0             0
2017-12-29  29.846210  30.060399  29.837973  ...  12038261        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [426]:
aapl = aapl_table['Close']['2017']

In [427]:
print(aapl)

Date
2017-01-03    27.372358
2017-01-04    27.341722
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041643
                ...
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, Length: 251, dtype: float64

In [428]:
pfizer = pfizer_table['Close']['2017']

In [429]:
print(pfizer)

Date
2017-01-03    26.156351
2017-01-04    26.386217
2017-01-05    26.639851
2017-01-06    26.536808
2017-01-09    26.528885
                ...
2017-12-22    29.772074
2017-12-26    29.829741
2017-12-27    29.928595
2017-12-28    29.961542
2017-12-29    29.837973
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [430]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899315
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946632
2017-03-14    32.896938
2017-03-15    33.244862
2017-03-16    33.299297
2017-03-17    33.133625
2017-03-20    33.481552
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353737
2017-03-24    33.287472
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002258
Name: Close, dtype: float64

In [431]:
print(pfizer['2017-3'])

Date
2017-03-01    27.559820
2017-03-02    27.631874
2017-03-03    27.639885
2017-03-06    27.503765
2017-03-07    27.215517
2017-03-08    27.151461
2017-03-09    27.263557
2017-03-10    27.311605
2017-03-13    27.311605
2017-03-14    27.399673
2017-03-15    27.727957
2017-03-16    27.567822
2017-03-17    27.479744
2017-03-20    27.527786
2017-03-21    27.423698
2017-03-22    27.599850
2017-03-23    27.455723
2017-03-24    27.223520
2017-03-27    27.367653
2017-03-28    27.351635
2017-03-29    27.487751
2017-03-30    27.503765
2017-03-31    27.391668
Name: Close, dtype: float64

In [432]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289883
2017-02-03    30.419495
2017-02-06    30.704645
2017-02-07    30.996870
                ...
2017-04-24    33.997520
2017-04-25    34.208176
2017-04-26    34.006996
2017-04-27    34.033031
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

In [433]:
pfizer['2017-2':'2017-4']

Date
2017-02-01    25.357908
2017-02-02    25.405954
2017-02-03    25.694202
2017-02-06    25.806297
2017-02-07    25.686193
                ...
2017-04-24    27.015347
2017-04-25    27.031357
2017-04-26    27.103416
2017-04-27    27.111425
2017-04-28    27.159472
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [434]:
print(aapl.head(5)) #.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.
print(aapl.tail(10))

Date
2017-01-03    27.372358
2017-01-04    27.341722
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041643
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244408
2017-12-19    41.794235
2017-12-20    41.748737
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64

In [435]:
print(pfizer.head(5))
print(pfizer.tail(10))

Date
2017-01-03    26.156351
2017-01-04    26.386217
2017-01-05    26.639851
2017-01-06    26.536808
2017-01-09    26.528885
Name: Close, dtype: float64
Date
2017-12-15    30.645298
2017-12-18    30.587629
2017-12-19    30.431112
2017-12-20    30.035688
2017-12-21    29.854454
2017-12-22    29.772074
2017-12-26    29.829741
2017-12-27    29.928595
2017-12-28    29.961542
2017-12-29    29.837973
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [436]:
by_month = aapl.resample('M').mean() #determines the length of each interval.
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606275
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125685
2017-06-30    35.133984
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [437]:
by_month = pfizer.resample('M').mean()
print(by_month)

Date
2017-01-31    25.579330
2017-02-28    26.410611
2017-03-31    27.439015
2017-04-30    27.169161
2017-05-31    26.438657
2017-06-30    26.737751
2017-07-31    26.937694
2017-08-31    27.160662
2017-09-30    28.660028
2017-10-31    29.423453
2017-11-30    29.160019
2017-12-31    29.902644
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [438]:
by_week = aapl.resample('W').mean()#aggregate the data by week
print(by_week.head())

Date
2017-01-08    27.495495
2017-01-15    28.097735
2017-01-22    28.266119
2017-01-29    28.553979
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

In [439]:
by_week = pfizer.resample('W').mean()
print(by_week.head())

Date
2017-01-08    26.429807
2017-01-15    26.134163
2017-01-22    25.276551
2017-01-29    24.824757
2017-02-05    25.284925
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [440]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451962
2017-03-31    34.111141
2017-04-30    34.264988
2017-05-31    37.099136
2017-06-30    36.944645
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141651
2017-10-31    40.332249
2017-11-30    42.050137
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [441]:
pfizer.resample('M').max()

Date
2017-01-31    26.639851
2017-02-28    27.447723
2017-03-31    27.727957
2017-04-30    27.495760
2017-05-31    27.047371
2017-06-30    27.624466
2017-07-31    27.341511
2017-08-31    27.690218
2017-09-30    29.380037
2017-10-31    29.755554
2017-11-30    29.870930
2017-12-31    30.645298
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [442]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398283
2017-01-06    27.787130
2017-01-09    28.110776
2017-01-12    28.078175
2017-01-15    28.279673
                ...
2017-12-17    42.019321
2017-12-20    41.854092
2017-12-23          NaN
2017-12-26    40.886706
2017-12-29    40.522724
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172572
2017-02-05    29.108262
2017-02-19    31.516815
2017-03-05    32.595557
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849729
2017-04-30    33.791845
2017-05-14    35.697633
2017-05-28    36.496180
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265136
2017-07-23    35.278871
2017-08-06    36.272774
2017-08-20    37.904119
2017-09-03    38.458792
2017-09-17    38.282710
2017-10-01    36.840874
2017-10-15    37.071593
2017-10-29    37.757322
2017-11-12    41.032236
2017-11-26    41.204380
2017-12-10    40.867065
2017-12-24    41.620866
2018-01-07    40.795711
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056856
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [443]:
three_day = pfizer.resample('3D').mean()
two_week = pfizer.resample('2W').mean()
two_month = pfizer.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    26.394140
2017-01-06    26.536808
2017-01-09    26.351869
2017-01-12    25.807604
2017-01-15    25.411293
                ...
2017-12-17    30.509371
2017-12-20    29.887405
2017-12-23          NaN
2017-12-26    29.906626
2017-12-29    29.837973
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    26.429807
2017-01-22    25.753002
2017-02-05    25.054841
2017-02-19    26.205844
2017-03-05    27.346298
2017-03-19    27.393271
2017-04-02    27.433305
2017-04-16    27.290248
2017-04-30    27.060183
2017-05-14    26.795876
2017-05-28    26.132081
2017-06-11    26.136932
2017-06-25    26.892017
2017-07-09    27.200482
2017-07-23    26.982562
2017-08-06    26.894176
2017-08-20    27.133474
2017-09-03    27.271436
2017-09-17    28.274351
2017-10-01    29.100852
2017-10-15    29.543307
2017-10-29    29.456774
2017-11-12    28.859469
2017-11-26    29.178936
2017-12-10    29.545527
2017-12-24    30.151019
2018-01-07    29.889462
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    25.579330
2017-03-31    26.973784
2017-05-31    26.777183
2017-07-31    26.832962
2017-09-30    27.858041
2017-11-30    29.294799
2018-01-31    29.902644
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [444]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203369
2017-01-15    0.072531
2017-01-22    0.025557
2017-01-29    0.245288
2017-02-05    0.943258
2017-02-12    0.252001
2017-02-19    0.231395
2017-02-26    0.059342
2017-03-05    0.340090
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157263
2017-04-02    0.319806
2017-04-09    0.128692
2017-04-16    0.212473
2017-04-23    0.174674
2017-04-30    0.090026
2017-05-07    0.235636
2017-05-14    0.352981
2017-05-21    0.536096
2017-05-28    0.060390
2017-06-04    0.281223
2017-06-11    0.620033
2017-06-18    0.382565
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158888
2017-07-16    0.404279
2017-07-23    0.124989
2017-07-30    0.384443
2017-08-06    0.924392
2017-08-13    0.467471
2017-08-20    0.435251
2017-08-27    0.275767
2017-09-03    0.251720
2017-09-10    0.381638
2017-09-17    0.294139
2017-09-24    0.735193
2017-10-01    0.354843
2017-10-08    0.204853
2017-10-15    0.118733
2017-10-22    0.516997
2017-10-29    0.680455
2017-11-05    0.560683
2017-11-12    0.190969
2017-11-19    0.436199
2017-11-26    0.563044
2017-12-03    0.427443
2017-12-10    0.073127
2017-12-17    0.205267
2017-12-24    0.194125
2017-12-31    0.190398
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220755
2017-01-22    28.279673
2017-01-29    28.739210
2017-02-05    30.419495
2017-02-12    31.341909
2017-02-19    32.122978
2017-02-26    32.451962
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299297
2017-03-26    33.481552
2017-04-02    34.111141
2017-04-09    34.264988
2017-04-16    33.886280
2017-04-23    33.713501
2017-04-30    34.208176
2017-05-07    35.256691
2017-05-14    37.099136
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944645
2017-06-11    36.925632
2017-06-18    34.838959
2017-06-25    34.779545
2017-07-02    34.658344
2017-07-09    34.266190
2017-07-16    35.421227
2017-07-23    35.891804
2017-07-30    36.471699
2017-08-06    37.346294
2017-08-13    38.277935
2017-08-20    38.557091
2017-08-27    38.170563
2017-09-03    39.141651
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872322
2017-10-01    36.798637
2017-10-08    37.075409
2017-10-15    37.457169
2017-10-22    38.287476
2017-10-29    38.903061
2017-11-05    41.157787
2017-11-12    42.050137
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244408
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041643
2017-01-22    28.227819
2017-01-29    28.272593
2017-02-05    28.597818
2017-02-12    30.704645
2017-02-19    31.547825
2017-02-26    32.314690
2017-03-05    32.409363
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926517
2017-04-16    33.384514
2017-04-23    33.296932
2017-04-30    33.997520
2017-05-07    34.681549
2017-05-14    36.215275
2017-05-21    35.708801
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406975
2017-06-18    33.812256
2017-06-25    34.463451
2017-07-02    34.147358
2017-07-09    33.921581
2017-07-16    34.475342
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347549
2017-08-13    37.058712
2017-08-20    37.578854
2017-08-27    37.509655
2017-09-03    38.526085
2017-09-10    37.848469
2017-09-17    37.764954
2017-09-24    36.240322
2017-10-01    35.920612
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216187
2017-10-29    37.261524
2017-11-05    39.778706
2017-11-12    41.575329
2017-11-19    40.486816
2017-11-26    40.702324
2017-12-03    40.582596
2017-12-10    40.470055
2017-12-17    41.114182
2017-12-24    41.748737
2017-12-31    40.522724
Freq: W-SUN, Name: Close, dtype: float64

In [445]:
std = pfizer.resample('W').std()
max = pfizer.resample('W').max()
min = pfizer.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.209957
2017-01-15    0.361028
2017-01-22    0.143985
2017-01-29    0.097881
2017-02-05    0.325911
2017-02-12    0.103875
2017-02-19    0.399760
2017-02-26    0.264946
2017-03-05    0.135881
2017-03-12    0.133790
2017-03-19    0.160076
2017-03-26    0.141817
2017-04-02    0.070396
2017-04-09    0.079386
2017-04-16    0.054844
2017-04-23    0.127307
2017-04-30    0.059811
2017-05-07    0.111437
2017-05-14    0.037088
2017-05-21    0.298117
2017-05-28    0.034489
2017-06-04    0.211267
2017-06-11    0.314691
2017-06-18    0.119227
2017-06-25    0.313756
2017-07-02    0.142525
2017-07-09    0.220255
2017-07-16    0.092779
2017-07-23    0.118541
2017-07-30    0.130784
2017-08-06    0.320071
2017-08-13    0.071957
2017-08-20    0.255463
2017-08-27    0.193232
2017-09-03    0.209483
2017-09-10    0.101745
2017-09-17    0.432790
2017-09-24    0.213780
2017-10-01    0.123723
2017-10-08    0.056144
2017-10-15    0.096348
2017-10-22    0.188609
2017-10-29    0.282883
2017-11-05    0.168157
2017-11-12    0.077787
2017-11-19    0.080632
2017-11-26    0.067388
2017-12-03    0.294643
2017-12-10    0.182206
2017-12-17    0.300454
2017-12-24    0.358062
2017-12-31    0.065688
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    26.639851
2017-01-15    26.528885
2017-01-22    25.411293
2017-01-29    24.935724
2017-02-05    25.694202
2017-02-12    25.926405
2017-02-19    26.919258
2017-02-26    27.431704
2017-03-05    27.639885
2017-03-12    27.503765
2017-03-19    27.727957
2017-03-26    27.599850
2017-04-02    27.503765
2017-04-09    27.495760
2017-04-16    27.255552
2017-04-23    27.223520
2017-04-30    27.159472
2017-05-07    27.047371
2017-05-14    26.783144
2017-05-21    26.775600
2017-05-28    25.999496
2017-06-04    26.444143
2017-06-11    26.492647
2017-06-18    26.654335
2017-06-25    27.624466
2017-07-02    27.519369
2017-07-09    27.341511
2017-07-16    27.026224
2017-07-23    27.179821
2017-07-30    26.937292
2017-08-06    27.461641
2017-08-13    27.306536
2017-08-20    27.249392
2017-08-27    27.257555
2017-09-03    27.722872
2017-09-10    27.837156
2017-09-17    29.167788
2017-09-24    29.380037
2017-10-01    29.143299
2017-10-08    29.502491
2017-10-15    29.755554
2017-10-22    29.731066
2017-10-29    29.714737
2017-11-05    29.020855
2017-11-12    28.997702
2017-11-19    29.294270
2017-11-26    29.277794
2017-12-03    29.945074
2017-12-10    29.706165
2017-12-17    30.645298
2017-12-24    30.587629
2017-12-31    29.961542
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    26.156351
2017-01-15    25.775900
2017-01-22    25.125954
2017-01-29    24.690012
2017-02-05    24.816830
2017-02-12    25.686193
2017-02-19    26.110561
2017-02-26    26.895241
2017-03-05    27.319607
2017-03-12    27.151461
2017-03-19    27.311605
2017-03-26    27.223520
2017-04-02    27.351635
2017-04-09    27.303589
2017-04-16    27.127443
2017-04-23    26.911253
2017-04-30    27.015347
2017-05-07    26.783144
2017-05-14    26.686676
2017-05-21    26.048000
2017-05-28    25.910570
2017-06-04    25.975246
2017-06-11    25.668037
2017-06-18    26.339045
2017-06-25    26.856443
2017-07-02    27.155569
2017-07-09    26.856443
2017-07-16    26.816023
2017-07-23    26.880695
2017-07-30    26.589659
2017-08-06    26.743263
2017-08-13    27.143270
2017-08-20    26.669792
2017-08-27    26.743265
2017-09-03    27.306536
2017-09-10    27.592251
2017-09-17    28.016750
2017-09-24    28.939217
2017-10-01    28.816763
2017-10-08    29.355549
2017-10-15    29.502491
2017-10-22    29.249424
2017-10-29    29.061666
2017-11-05    28.620842
2017-11-12    28.833096
2017-11-19    29.080080
2017-11-26    29.121273
2017-12-03    29.236597
2017-12-10    29.244839
2017-12-17    29.829741
2017-12-24    29.772074
2017-12-31    29.829741
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [446]:
last_day = aapl.resample('M').agg(lambda x: x[-1])#agg():Fetch those prices
print(last_day)

Date
2017-01-31    28.597818
2017-02-28    32.423573
2017-03-31    34.002258
2017-04-30    33.999882
2017-05-31    36.305332
2017-06-30    34.228168
2017-07-31    35.347549
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332249
2017-11-30    41.150105
2017-12-31    40.522724
Freq: M, Name: Close, dtype: float64

In [447]:
pfizer_last_day = pfizer.resample('M').agg(lambda x: x[-1])
print(pfizer_last_day)

Date
2017-01-31    25.149733
2017-02-28    27.319607
2017-03-31    27.391668
2017-04-30    27.159472
2017-05-31    26.395634
2017-06-30    27.155569
2017-07-31    26.807940
2017-08-31    27.690218
2017-09-30    29.143299
2017-10-31    28.620842
2017-11-30    29.870930
2017-12-31    29.837973
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [448]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [449]:
pfizer_monthly_return = pfizer.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(pfizer_monthly_return)

Date
2017-01-31   -0.038485
2017-02-28    0.077360
2017-03-31   -0.006101
2017-04-30   -0.009346
2017-05-31   -0.024096
2017-06-30    0.026903
2017-07-31   -0.019515
2017-08-31    0.035409
2017-09-30    0.051237
2017-10-31   -0.028001
2017-11-30    0.037758
2017-12-31   -0.003577
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [450]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.0268633424911623
0.05225852371732628
0.09901839583970218

In [451]:
print(pfizer_monthly_return.mean())
print(pfizer_monthly_return.std())
print(pfizer_monthly_return.max())

0.008295526671840156
0.03637081292760605
0.07736042392966236

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [452]:
print(last_day.diff())# Calculate the difference between consecutive elements
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825754
2017-03-31    1.578686
2017-04-30   -0.002377
2017-05-31    2.305450
2017-06-30   -2.077164
2017-07-31    1.119381
2017-08-31    3.782173
2017-09-30   -2.357323
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627380
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [453]:
print(pfizer_last_day.diff())
print(pfizer_last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    2.169874
2017-03-31    0.072062
2017-04-30   -0.232197
2017-05-31   -0.763838
2017-06-30    0.759935
2017-07-31   -0.347630
2017-08-31    0.882278
2017-09-30    1.453081
2017-10-31   -0.522457
2017-11-30    1.250088
2017-12-31   -0.032957
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.086278
2017-03-31    0.002638
2017-04-30   -0.008477
2017-05-31   -0.028124
2017-06-30    0.028790
2017-07-31   -0.012801
2017-08-31    0.032911
2017-09-30    0.052476
2017-10-31   -0.017927
2017-11-30    0.043678
2017-12-31   -0.001103
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [454]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [455]:
pfizer_daily_return = pfizer_last_day.pct_change()
print(pfizer_daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.086278
2017-03-31    0.002638
2017-04-30   -0.008477
2017-05-31   -0.028124
2017-06-30    0.028790
2017-07-31   -0.012801
2017-08-31    0.032911
2017-09-30    0.052476
2017-10-31   -0.017927
2017-11-30    0.043678
2017-12-31   -0.001103
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [456]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [457]:
pfizer_daily_return = pfizer_last_day.pct_change()
print(pfizer_daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.086278
2017-02-28    0.086278
2017-03-31    0.002638
2017-04-30   -0.008477
2017-05-31   -0.028124
2017-06-30    0.028790
2017-07-31   -0.012801
2017-08-31    0.032911
2017-09-30    0.052476
2017-10-31   -0.017927
2017-11-30    0.043678
2017-12-31   -0.001103
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [458]:
daily_return = last_day.pct_change()
daily_return.dropna() #Remove'NaN' values

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [459]:
pfizer_daily_return = pfizer_last_day.pct_change()
pfizer_daily_return.dropna()

Date
2017-02-28    0.086278
2017-03-31    0.002638
2017-04-30   -0.008477
2017-05-31   -0.028124
2017-06-30    0.028790
2017-07-31   -0.012801
2017-08-31    0.032911
2017-09-30    0.052476
2017-10-31   -0.017927
2017-11-30    0.043678
2017-12-31   -0.001103
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [460]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [461]:
import pandas as pd

e_dict = {'Ej01': [3.5, 4.09, 2.73, 4.18, 3.77],'Ej02':[198.7, 211.71, 250.69, 318.59, 426.99],
        'Ej03':[35.58, 43.67, 62.36, 92.94, 13.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
e_df = pd.DataFrame(e_dict, index = data_index)
print(e_df)

            Ej01    Ej02   Ej03
2017-07-03  3.50  198.70  35.58
2017-07-04  4.09  211.71  43.67
2017-07-05  2.73  250.69  62.36
2017-07-06  4.18  318.59  92.94
2017-07-07  3.77  426.99  13.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [462]:
df = aapl_table
print(df.Close.tail(5))#Fetch a column
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [463]:
e_df = pfizer_table
print(e_df.Close.tail(5))
print(e_df['Volume'].tail(5))

Date
2017-12-22    29.772074
2017-12-26    29.829741
2017-12-27    29.928595
2017-12-28    29.961542
2017-12-29    29.837973
Name: Close, dtype: float64
Date
2017-12-22     9063557
2017-12-26    11480590
2017-12-27     8768964
2017-12-28     6939431
2017-12-29    12038261
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [464]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226403  23.412961  23.044510  ...  169228800        0.0             0
2016-06-30  22.023114  22.333264  21.990466  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367382  26.580742  26.212639  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490199  27.619813  27.202689  ...  122345200        0.0             0

[12 rows x 7 columns]

In [465]:
pfizer_2016 = e_df['2016']
pfizer_month = pfizer_2016.resample('M').agg(lambda x: x[-1])
print(pfizer_month)

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  23.202222  23.286234  22.850905  ...  59794263        0.0             0
2016-02-29  23.211779  23.281205  22.810645  ...  37091841        0.0             0
2016-03-31  23.188634  23.273489  22.764357  ...  59861719        0.0             0
2016-04-30  25.356303  25.418016  25.016882  ...  36061134        0.0             0
2016-05-31  26.984350  27.046615  26.758637  ...  34547274        0.0             0
2016-06-30  27.350158  27.451340  27.194496  ...  28451465        0.0             0
2016-07-31  28.548775  28.758923  28.525427  ...  22675545        0.0             0
2016-08-31  27.357772  27.420555  27.161573  ...  21919616        0.0             0
2016-09-30  26.243371  26.698548  26.211979  ...  30138076        0.0             0
2016-10-31  25.144664  25.144664  24.807205  ...  37890668        0.0             0
2016-11-30  25.347887  25.657006  25.165585  ...  40599553        0.0             0
2016-12-31  25.633227  25.839308  25.609450  ...  19885396        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [466]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023114  22.333264  21.990466  22.293621
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490199  27.619813  27.202689  27.294598

In [467]:
pfizer_bar = pfizer_month[['Open', 'High', 'Low', 'Close']]
print(pfizer_bar)

                 Open       High        Low      Close
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234
2016-02-29  23.211779  23.281205  22.810645  22.887785
2016-03-31  23.188634  23.273489  22.764357  22.864641
2016-04-30  25.356303  25.418016  25.016882  25.232878
2016-05-31  26.984350  27.046615  26.758637  27.007698
2016-06-30  27.350158  27.451340  27.194496  27.404640
2016-07-31  28.548775  28.758923  28.525427  28.712223
2016-08-31  27.357772  27.420555  27.161573  27.310684
2016-09-30  26.243371  26.698548  26.211979  26.580830
2016-10-31  25.144664  25.144664  24.807205  24.885683
2016-11-30  25.347887  25.657006  25.165585  25.474705
2016-12-31  25.633227  25.839308  25.609450  25.744194

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [468]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023114  22.333264  21.990466  22.293621

In [469]:
print(pfizer_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  23.188634  23.273489  22.764357  22.864641
2016-04-30  25.356303  25.418016  25.016882  25.232878
2016-05-31  26.984350  27.046615  26.758637  27.007698
2016-06-30  27.350158  27.451340  27.194496  27.404640

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [470]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490199  27.619813  27.202689  27.294598

In [471]:
import numpy as np

e_above = pfizer_bar[pfizer_bar.Close > np.mean(pfizer_bar.Close)]
print(e_above)

                 Open       High        Low      Close
Date
2016-05-31  26.984350  27.046615  26.758637  27.007698
2016-06-30  27.350158  27.451340  27.194496  27.404640
2016-07-31  28.548775  28.758923  28.525427  28.712223
2016-08-31  27.357772  27.420555  27.161573  27.310684
2016-09-30  26.243371  26.698548  26.211979  26.580830
2016-12-31  25.633227  25.839308  25.609450  25.744194

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [472]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [473]:
pfizer_bar['rate_return'] = pfizer_bar.Close.pct_change()
print(pfizer_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234          NaN
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [474]:
missing = aapl_bar.isnull() #check abnormal values
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [475]:
e_missing = pfizer_bar.isnull()
print(e_missing)
print('---------------------------------------------')
print(e_missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [476]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [477]:
print(e_missing[e_missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [478]:
drop = aapl_bar.dropna() # delete the whole row
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

In [479]:
drop = pfizer_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = pfizer_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234     0.000000
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [480]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) #concat()allows us to merge multiple Series into a DataFrame
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [481]:
e_s1 = pd.Series([14, 144, 142, 11, 143], name = 'EL1')
e_s2 = pd.Series([89, 91, 90, 98, 92], name = 'GOOG')
e_data_frame = pd.concat([e_s1,e_s2], axis = 1)
print(e_data_frame)

   EL1  GOOG
0   14    89
1  144    91
2  142    90
3   11    98
4  143    92

The "axis = 1" parameter will join two DataFrames by columns:

In [482]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288   3.109568
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773   3.147897
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504   3.277360
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955   3.306689

In [483]:
e_log_price = np.log(pfizer_bar.Close)
e_log_price.name = 'e_log_price'
print(e_log_price)
print('\n---------------------- separate line--------------------\n')
e_concat = pd.concat([pfizer_bar, e_log_price], axis = 1)
print(e_concat)

Date
2016-01-31    3.147862
2016-02-29    3.130603
2016-03-31    3.129592
2016-04-30    3.228148
2016-05-31    3.296122
2016-06-30    3.310712
2016-07-31    3.357323
2016-08-31    3.307278
2016-09-30    3.280190
2016-10-31    3.214293
2016-11-30    3.237686
2016-12-31    3.248209
Freq: M, Name: e_log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High  ...  rate_return  e_log_price
Date                              ...
2016-01-31  23.202222  23.286234  ...          NaN     3.147862
2016-02-29  23.211779  23.281205  ...    -0.017111     3.130603
2016-03-31  23.188634  23.273489  ...    -0.001011     3.129592
2016-04-30  25.356303  25.418016  ...     0.103576     3.228148
2016-05-31  26.984350  27.046615  ...     0.070338     3.296122
2016-06-30  27.350158  27.451340  ...     0.014697     3.310712
2016-07-31  28.548775  28.758923  ...     0.047714     3.357323
2016-08-31  27.357772  27.420555  ...    -0.048813     3.307278
2016-09-30  26.243371  26.698548  ...    -0.026724     3.280190
2016-10-31  25.144664  25.144664  ...    -0.063773     3.214293
2016-11-30  25.347887  25.657006  ...     0.023669     3.237686
2016-12-31  25.633227  25.839308  ...     0.010579     3.248209

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [484]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490199  27.619813  27.202689  27.294598
2017-01-31  28.550686  28.607245  28.425785  28.597818
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104024  34.153730  33.909944  33.999882

In [485]:
e_df_volume = pfizer_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(e_df_volume)
print('\n---------------------- separate line--------------------\n')
e_df_2017 = pfizer_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(e_df_2017)

              Volume  Stock Splits
Date
2016-10-31  37890668             0
2016-11-30  40599553             0
2016-12-31  19885396             0
2017-01-31  39472300             0
2017-02-28  28964658             0
2017-03-31  19616837             0
2017-04-30  16842077             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  25.144664  25.144664  24.807205  24.885683
2016-11-30  25.347887  25.657006  25.165585  25.474705
2016-12-31  25.633227  25.839308  25.609450  25.744194
2017-01-31  24.579048  25.308257  24.515638  25.149733
2017-02-28  27.303591  27.431704  27.151461  27.319607
2017-03-31  27.391668  27.527785  27.351633  27.391668
2017-04-30  27.127446  27.175484  27.023355  27.159472

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [486]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431518  25.473240  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226403  23.412961  ...          NaN           NaN
2016-06-30  22.023114  22.333264  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367382  26.580742  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490199  27.619813  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [487]:
e_concat = pd.concat([pfizer_bar, e_df_volume], axis = 1)
print(e_concat)

                 Open       High  ...      Volume  Stock Splits
Date                              ...
2016-01-31  23.202222  23.286234  ...         NaN           NaN
2016-02-29  23.211779  23.281205  ...         NaN           NaN
2016-03-31  23.188634  23.273489  ...         NaN           NaN
2016-04-30  25.356303  25.418016  ...         NaN           NaN
2016-05-31  26.984350  27.046615  ...         NaN           NaN
2016-06-30  27.350158  27.451340  ...         NaN           NaN
2016-07-31  28.548775  28.758923  ...         NaN           NaN
2016-08-31  27.357772  27.420555  ...         NaN           NaN
2016-09-30  26.243371  26.698548  ...         NaN           NaN
2016-10-31  25.144664  25.144664  ...  37890668.0           0.0
2016-11-30  25.347887  25.657006  ...  40599553.0           0.0
2016-12-31  25.633227  25.839308  ...  19885396.0           0.0
2017-01-31        NaN        NaN  ...  39472300.0           0.0
2017-02-28        NaN        NaN  ...  28964658.0           0.0
2017-03-31        NaN        NaN  ...  19616837.0           0.0
2017-04-30        NaN        NaN  ...  16842077.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [488]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490199  27.619813  ...  122345200             0

[3 rows x 7 columns]

In [489]:
e_concat = pd.concat([pfizer_bar,e_df_volume],axis = 1, join = 'inner')
print(e_concat)

                 Open       High  ...    Volume  Stock Splits
Date                              ...
2016-10-31  25.144664  25.144664  ...  37890668             0
2016-11-30  25.347887  25.657006  ...  40599553             0
2016-12-31  25.633227  25.839308  ...  19885396             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [490]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598          NaN
2017-01-31  28.550686  28.607245  28.425785  28.597818          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

In [491]:
e_append = pfizer_bar.append(e_df_2017)
print(e_append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234          NaN
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579
2016-10-31  25.144664  25.144664  24.807205  24.885683          NaN
2016-11-30  25.347887  25.657006  25.165585  25.474705          NaN
2016-12-31  25.633227  25.839308  25.609450  25.744194          NaN
2017-01-31  24.579048  25.308257  24.515638  25.149733          NaN
2017-02-28  27.303591  27.431704  27.151461  27.319607          NaN
2017-03-31  27.391668  27.527785  27.351633  27.391668          NaN
2017-04-30  27.127446  27.175484  27.023355  27.159472          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [492]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598          NaN
2017-01-31  28.550686  28.607245  28.425785  28.597818          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

In [493]:
e_concat = pd.concat([pfizer_bar, e_df_2017], axis = 0)
print(e_concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234          NaN
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579
2016-10-31  25.144664  25.144664  24.807205  24.885683          NaN
2016-11-30  25.347887  25.657006  25.165585  25.474705          NaN
2016-12-31  25.633227  25.839308  25.609450  25.744194          NaN
2017-01-31  24.579048  25.308257  24.515638  25.149733          NaN
2017-02-28  27.303591  27.431704  27.151461  27.319607          NaN
2017-03-31  27.391668  27.527785  27.351633  27.391668          NaN
2017-04-30  27.127446  27.175484  27.023355  27.159472          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [494]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288        NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773        NaN
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652        NaN
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619813  27.202689  27.294598          NaN  27.490199
2017-01-31        NaN  28.607245  28.425785  28.597818          NaN  28.550686
2017-02-28        NaN  32.530080  32.354932  32.423573          NaN  32.444873
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153730  33.909944  33.999882          NaN  34.104024

In [495]:
e_df_2017.columns = ['Change', 'High','Low','Close']
e_concat = pd.concat([pfizer_bar, e_df_2017], axis = 0)
print(e_concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  23.202222  23.286234  22.850905  23.286234          NaN        NaN
2016-02-29  23.211779  23.281205  22.810645  22.887785    -0.017111        NaN
2016-03-31  23.188634  23.273489  22.764357  22.864641    -0.001011        NaN
2016-04-30  25.356303  25.418016  25.016882  25.232878     0.103576        NaN
2016-05-31  26.984350  27.046615  26.758637  27.007698     0.070338        NaN
2016-06-30  27.350158  27.451340  27.194496  27.404640     0.014697        NaN
2016-07-31  28.548775  28.758923  28.525427  28.712223     0.047714        NaN
2016-08-31  27.357772  27.420555  27.161573  27.310684    -0.048813        NaN
2016-09-30  26.243371  26.698548  26.211979  26.580830    -0.026724        NaN
2016-10-31  25.144664  25.144664  24.807205  24.885683    -0.063773        NaN
2016-11-30  25.347887  25.657006  25.165585  25.474705     0.023669        NaN
2016-12-31  25.633227  25.839308  25.609450  25.744194     0.010579        NaN
2016-10-31        NaN  25.144664  24.807205  24.885683          NaN  25.144664
2016-11-30        NaN  25.657006  25.165585  25.474705          NaN  25.347887
2016-12-31        NaN  25.839308  25.609450  25.744194          NaN  25.633227
2017-01-31        NaN  25.308257  24.515638  25.149733          NaN  24.579048
2017-02-28        NaN  27.431704  27.151461  27.319607          NaN  27.303591
2017-03-31        NaN  27.527785  27.351633  27.391668          NaN  27.391668
2017-04-30        NaN  27.175484  27.023355  27.159472          NaN  27.127446

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.